<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.Spreadsheet" version="3.8.0.1848" targetFramework="net472" />
  <package id="IronXL.Excel" version="2020.5.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>